<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-dns-prefetch-control" content="on">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="description" content="<%= htmlWebpackPlugin.options.description %> ">
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?cdb524f42f0ce19b169a8071123a4797";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>    
  <% htmlWebpackPlugin.options.files.js.forEach(function(s) { %>
    <script src="<%= s %>"></script>
  <% }); %>
</head>
<body>
  <% if(htmlWebpackPlugin.options.frame === '') {%>
    ${ require('./src/pages/'+htmlWebpackPlugin.options.entry+'/index.html') }
  <% } else { %>
    <div id="root"></div>
  <% } %>
</body>
</html>